node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
.turbo/
tsconfig.app.tsbuildinfo 
*/tsconfig.app.tsbuildinfo 
*/tsconfig.tsbuildinfo 
tsconfig.tsbuildinfo 
*.tsbuildinfo
**/*.tsbuildinfo
